<div class="bg-primary  large-shadow">
    <div class="max-w-2xl m-auto px-2 py-4 flex flex-col sm:flex-row justify-between content-center">
        <a class="m-0 text-4xl text-white hover:text-white" href="{{ .Site.BaseURL }}">
            {{ .Site.Title }}
        </a>

        <ul class="main-menu flex flex-row gap-4">
            {{ range.Site.Menus.main }}
            <li class="list-none m-0">
                <a href="{{ .URL }}" class="text-white hover:text-white">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>

    </div>
</div>



