<div class="bg-primary py-16 px-2 flex flex-col items-center gap-4">
    <p class="text-light text-center font-bold text-5xl">{{ .Site.Title }}</p>
    <div class="">
        <img src="/header-logo.png" class="h-48 w-48 flex-none">
    </div>
    <p class="text-light text-center text-2xl font-normal m-0">{{ .Site.Params.description }}</p>

    <div class="flex flex-row gap-4 justify-center items-center">
        {{ with .Site.Params.social.email }}
        <a class="bg-black bg-opacity-0 hover:bg-opacity-20 p-2" href="mailto:{{ . }}" target="none" title="Email">
            <img src="./social-email.svg" class="w-8 h-8">
        </a>
        {{ end }}

        {{ with .Site.Params.social.github }}
        <a class="bg-black bg-opacity-0 hover:bg-opacity-20 p-2" href="https://github.com/{{ . }}" target="none"  title="GitHub">
            <img src="./social-github.svg" class="w-8 h-8">
        </a>
        {{ end }}
    </div>
</div>


<div class="bg-black">
    <div class="flex flex-col justify-center sm:justify-start ">
        {{ range.Site.Menus.main }}
        <a href="{{ .URL }}" class="list-none m-0 py-8 bg-color-cycle">
            <p class="font-bold text-2xl text-white text-center mt-0">{{ .Name }}</p>
            {{ with .Params.description }}
            <p class="text-white text-center mt-2">{{ . }}</p>
            {{ end }}
        </a>
        {{ end }}
    </div>
</div>