<div class="project-tile">
    <div class="project-tile-image">
        <img src="{{ .RelPermalink }}/{{ .Params.image }}" href="{{ .RelPermalink }}" />
    </div>
    <div class="project-tile-content">
        <h2>{{ .Title }}</h2>
        <p>{{ .Description }}</p>
        <div class="buttons">
            {{ with .Params.link }}
            <a class="button button-accent" href="{{ . }}">Visit</a>
            {{ end }}
            
            {{ with .Params.source }}
            <a class="button" href="{{ . }}">Source</a>
            {{ end }}

            <a class="button" href="{{ .RelPermalink }}">Learn More</a>
        </div>
    </div>
</div>