{{ define "main" }}
<main>
    <div class="tk-container">

        <h1>{{ .Title }}</h1>

        {{ .Content }}

        {{ range $page := .Pages }}
        <article class="flex flex-col gap-8 mt-8">
            <a class="p-8 bg-gray-light hover:bg-green-light text-dark hover:text-dark" href="{{ .Permalink }}">

                <div class="flex flex-row justify-between">
                    <h2>{{ .Title }}</h2>
    
                    {{ with .Date.Format "2 January 2006" }}
                    <p class="text-gray">{{ . }}</p>
                    {{ end }}
                </div>


                {{ with .Description }}
                <p>{{ . }}</p>
                {{ end }}
            </a>
        </article>
        {{ end }}

    </div>
</main>
{{ end }}