<h3>Languages</h3>
<div class="tk-dev-icons-grid">
    <div class="bg-[#03599c]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-plain.svg" />
        <div>
            <p>C</p>
        </div>
    </div>
    <div class="bg-[#004482]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-plain.svg" />
        <div>
            <p>C++</p>
        </div>
    </div>
    <div class="bg-[#ea2d2e]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-plain.svg" />
        <div>
            <p>Java</p>
        </div>
    </div>
    <div class="bg-[#c711e1]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kotlin/kotlin-plain.svg" />
        <div>
            <p>Kotlin</p>
        </div>
    </div>
    <div class="bg-[#ffd845]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-plain.svg" />
        <div>
            <p>Python</p>
        </div>
    </div>
    <div class="bg-[#e44d26]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain.svg" />
        <div>
            <p>HTML</p>
        </div>
    </div>
    <div class="bg-[#1572b6]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg" />
        <div>
            <p>CSS</p>
        </div>
    </div>
    <div class="bg-[#f0db4f]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" />
        <div>
            <p>JavaScript</p>
        </div>
    </div>
    <div class="bg-[#007acc]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-plain.svg" />
        <div>
            <p>TypeScript</p>
        </div>
    </div>
</div>

<h3>Technologies</h3>
<div class="tk-dev-icons-grid">
    <div class="bg-[#41b883]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vuejs/vuejs-plain.svg" />
        <div>
            <p>Vue JS/TS</p>
        </div>
    </div>
    <div class="bg-[#61dafb]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />
        <div>
            <p>React JS/TS</p>
        </div>
    </div>
    <div class="bg-[#3fb6d3]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-plain.svg" />
        <div>
            <p>Flutter Dart</p>
        </div>
    </div>
    <div class="bg-[#38bdf8]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" />
        <div>
            <p>Tailwind CSS</p>
        </div>
    </div>
    <div class="bg-[#ff4785]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/storybook/storybook-plain.svg" />
        <div>
            <p>Storybook</p>
        </div>
    </div>
    <div class="bg-[#a4c439]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/android/android-plain.svg" />
        <div>
            <p>Android</p>
        </div>
    </div>
    <div class="bg-[#00979c]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/arduino/arduino-original.svg" />
        <div>
            <p>Arduino</p>
        </div>
    </div>
    <div class="bg-[#ff9900]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg" />
        <div>
            <p>Amazon Web Services</p>
        </div>
    </div>
    <div class="bg-[#527fff]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dynamodb/dynamodb-plain.svg" />
        <div>
            <p>DynamoDB</p>
        </div>
    </div>
    <div class="bg-[#326ce5]">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kubernetes/kubernetes-plain.svg" />
        <div>
            <p>Kubernetes</p>
        </div>
    </div>
    <div class="bg-[#000000]">
        <p class="text-[#ffffff] text-[128px] font-bold">μ</p>
        <div>
            <p>Micronaut</p>
        </div>
    </div>
</div>

<h3>Skills</h3>
<div class="tk-dev-icons-grid">
    <div class="bg-green-light">
        <p>Software Design Principles and Patterns</p>
    </div>
    <div class="bg-blue-light">
        <p>User Experience Design</p>
    </div>
    <div class="bg-gray-light">
        <p>Testing and Formal Verification</p>
    </div>
    <div class="bg-green-light">
        <p>Effective Interpersonal and Technical Communication</p>
    </div>
    <div class="bg-blue-light">
        <p>Understanding of the Big Picture and Focus on Details</p>
    </div>
</div>