{{ define "main" }}
{{ $page := . }}


<div
    {{ with .Params.image }}
    class="tk-hero-image" style="background-image: url('./{{ . }}')"
    {{ end }}
>
    <div class="max-w-screen-xl my-0 mx-auto py-32 px-4 relative z-10">
        <div class="bg-gray-light tk-border border-gray p-8">
            <h1>{{ .Title }}</h1>
            <p class="description">{{ .Description }}</p>
            <div class="tk-buttons mt-4">
                {{ with .Params.link }}
                <a class="tk-button tk-button-green" href="{{ . }}">Visit</a>
                {{ end }}

                {{ with .Params.source }}
                <a class="tk-button tk-button-blue" href="{{ . }}">Source</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<main>
    <div class="content tk-container">
        {{ .Content }}
    </div>
</main>
{{ end }}