{{ define "main" }}
{{ $page := . }}


<div {{ with .Params.image }} class="hero hero-image" style="background-image: url('./{{ . }}')" {{ else }}
    class="hero" {{ end }}>
    <div class="container">
        <div class="tile">
            <a class="tile-logo">
                {{ with .Params.image }}
                <img class="tile-image" src="./{{ . }}" />
                {{ else }}
                <img class="tile-icon" src="../../nav-projects.svg">
                {{ end }}
            </a>

            <div class="tile-content">
                <h3>{{ .Title }}</h3>

                {{ with .Description }}
                <p>{{ . }}</p>
                {{ end }}

                <div class="buttons">
                    {{ with .Params.link }}
                    <a class="button button-accent" href="{{ . }}" target="_blank">Visit</a>
                    {{ end }}

                    {{ with .Params.source }}
                    <a class="button" href="{{ . }}" target="_blank">Source</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <div class="container">
        {{ .Content }}
    </div>
</main>
{{ end }}