{{ define "main" }}
{{ $page := . }}
<div class="hero">
    <div>
        <div class="profile">
            <img src="./truman-kautzman-headshot-square.jpg" />
            <div>
                <h2 class="profile-title">Truman Kautzman</h2>
                <h3 class="profile-subtitle">Software Engineer and Designer</h3>
                <div class="buttons">
                    <a href="#" class="button button-accent">
                        <img src="./social-email.svg" />
                    </a>
                    <a href="#" class="button button-accent">
                        <img src="./social-github.svg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<main>
    <div>
        <a class="tile tile-hover" href="/about">
            <div class="tile-logo">
                <img class="tile-icon" src="../nav-resume.svg">
            </div>

            <div class="tile-content">
                <h3>Resume</h3>
                <p>Qualifications, Skills, Education and, Experience</p>
            </div>
        </a>

        <a class="tile tile-hover" href="/projects">
            <div class="tile-logo">
                <img class="tile-icon" src="../nav-projects.svg">
            </div>

            <div class="tile-content">
                <h3>Projects</h3>
                <p>Learn About and Use Personal Projects of Mine</p>
            </div>
        </a>

        <a class="tile tile-hover" href="/inspiration">
            <div class="tile-logo">
                <img class="tile-icon" src="../nav-inspiration.svg">
            </div>

            <div class="tile-content">
                <h3>Inspiration</h3>
                <p>A Collection of People, Designs, and Concepts that Inspire me</p>
            </div>
        </a>

        {{ .Content }}

    </div>
</main>
{{ end }}