{{ define "main" }}
{{ $page := . }}
<div class="profile">
    <img src="./truman-kautzman.png" />
    <div class="profile-content-container">
        <div class="profile-text-container">
            <p class="profile-greeting">Hello, I am</p>
            <p class="profile-title">Truman Kautzman</p>
            <p class="profile-subtitle">I design and build software.</p>
        </div>

        <div class="buttons">
            <a href="mailto:tilatrivia@gmail.com" target="_blank" class="button button-accent">
                <img src="./social-email.svg" />
            </a>
            <a href="https://github.com/tilatrivia/" target="_blank" class="button button-accent">
                <img src="./social-github.svg" />
            </a>
            <a href="https://github.com/tilatrivia/" target="_blank" class="button button-accent">
                <img src="./social-github.svg" />
            </a>
        </div>
    </div>
</div>

<main>
    <div class="container">

        {{ .Content }}

    </div>
</main>
{{ end }}